/* .about-page {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}*/

:host {
  display: block;
  height: 100vh;   /* Full viewport height */
  width: 100vw;    /* Full viewport width */
  margin: 0;
  background: white;
}

    
