<div class="filter-container">
  <span class="filter-label">Filter:</span>
  <div class="radio-row">
    <label>
      <input type="radio" name="filter" value="all" [(ngModel)]="selectedFilterRadioButton"
        (change)="onselectedFilterRadioBtnChanged()" />
      All ({{ all }})
    </label>

    <label>
      <input type="radio" name="filter" value="true" [(ngModel)]="selectedFilterRadioButton"
        (change)="onselectedFilterRadioBtnChanged()" />
      In Stock ({{ inStock }})
    </label>

    <label>
      <input type="radio" name="filter" value="false" [(ngModel)]="selectedFilterRadioButton"
        (change)="onselectedFilterRadioBtnChanged()" />
      Out of Stock ({{ outOfStock }})
    </label>
  </div>
</div>
